<.header>
  New Stage
  <:subtitle>Use this form to manage stage records in your database.</:subtitle>
</.header>

<.stage_form changeset={@changeset} action={~p"/stages"} />

<.back navigate={~p"/stages"}>Back to stages</.back>
