<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input
    field={f[:propellant]}
    type="select"
    multiple
    label="Propellant"
    options={[{"Option 1", "option1"}, {"Option 2", "option2"}]}
  />
  <:actions>
    <.button>Save Stage</.button>
  </:actions>
</.simple_form>
