<.admin_header>
  Edit
  <:breadcrumb navigate={~p"/admin/rockets"}>Rockets</:breadcrumb>
  <:breadcrumb navigate={~p"/admin/rockets/#{@resource}"}><%= @resource.name %></:breadcrumb>
</.admin_header>

<.resource_form
  changeset={@changeset}
  action={~p"/admin/rockets/#{@resource}"}
  countries={@countries}
  manufacturers={@manufacturers}
/>

<.back navigate={~p"/admin/rockets"}>back to rockets</.back>
