<.admin_header>
  Edit
  <:breadcrumb navigate={~p"/admin/rockets"}>Rockets</:breadcrumb>
  <:breadcrumb navigate={~p"/admin/rockets/#{@vehicle}"}><%= @vehicle.name %></:breadcrumb>
</.admin_header>

<.rocket_form changeset={@changeset} action={~p"/admin/rockets/#{@vehicle}"} />

<.back navigate={~p"/vehicles"}>Back to rockets</.back>
