<.admin_header>
  New Rocket
  <:breadcrumb navigate={~p"/admin/rockets"}>Rockets</:breadcrumb>
</.admin_header>

<.resource_form changeset={@changeset} action={~p"/admin/rockets"} />

<.back navigate={~p"/admin/rockets"}>Back to vehicles</.back>
