<.admin_header>
  New Rocket
  <:breadcrumb navigate={~p"/admin/rockets"}>Rockets</:breadcrumb>
</.admin_header>

<.resource_form
  changeset={@changeset}
  action={~p"/admin/rockets"}
  countries={@countries}
  manufacturers={@manufacturers}
/>

<.back navigate={~p"/admin/rockets"}>back to vehicles</.back>
