<.header>
  New Rocket
  <:subtitle>Use this form to manage rockets in your database.</:subtitle>
</.header>

<.rocket_form changeset={@changeset} action={~p"/admin/rockets"} />

<.back navigate={~p"/admin/rockets"}>Back to vehicles</.back>
