<.header>
  Edit Launch <%= @launch.id %>
  <:subtitle>Use this form to manage launch records in your database.</:subtitle>
</.header>

<.launch_form changeset={@changeset} action={~p"/launches/#{@launch}"} />

<.back navigate={~p"/launches"}>Back to launches</.back>
