<.header>
  Launch <%= @launch.id %>
  <:subtitle>This is a launch record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/launches/#{@launch}/edit"}>
      <.button>Edit launch</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Launched at"><%= @launch.launched_at %></:item>
  <:item title="Status"><%= @launch.status %></:item>
  <:item title="Details"><%= @launch.details %></:item>
</.list>

<.back navigate={~p"/launches"}>Back to launches</.back>
