<.header>
  New Manufacturer
  <:subtitle>Use this form to manage manufacturer records in your database.</:subtitle>
</.header>

<.manufacturer_form changeset={@changeset} action={~p"/manufacturers"} />

<.back navigate={~p"/manufacturers"}>Back to manufacturers</.back>
