<.header>
  Manufacturer <%= @manufacturer.id %>
  <:subtitle>This is a manufacturer record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/manufacturers/#{@manufacturer}/edit"}>
      <.button>Edit manufacturer</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Name"><%= @manufacturer.name %></:item>
  <:item title="Flag"><%= @manufacturer.flag %></:item>
</.list>

<.back navigate={~p"/manufacturers"}>Back to manufacturers</.back>
