<.header>
  New Vehicle
  <:subtitle>Use this form to manage vehicle records in your database.</:subtitle>
</.header>

<.vehicle_form changeset={@changeset} action={~p"/vehicles"} />

<.back navigate={~p"/vehicles"}>Back to vehicles</.back>
