<.admin_header>
  Edit
  <:breadcrumb navigate={~p"/admin/countries"}>Countries</:breadcrumb>
  <:breadcrumb navigate={~p"/admin/countries/#{@resource}"}><%= @resource.name %></:breadcrumb>
</.admin_header>

<.resource_form changeset={@changeset} action={~p"/admin/countries/#{@resource}"} />

<.back navigate={~p"/admin/countries"}>back to countries</.back>
