<.admin_header>
  New Rocket
  <:breadcrumb navigate={~p"/admin/countries"}>Countries</:breadcrumb>
</.admin_header>

<.resource_form changeset={@changeset} action={~p"/admin/countries"} />

<.back navigate={~p"/admin/countries"}>Back to countries</.back>
